#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

[mysqld]
bind-address=0.0.0.0
max_connections=300
max_allowed_packet=64M
wait_timeout=28800
net_read_timeout=90
net_write_timeout=90
connect_timeout=90
interactive_timeout=300
